 @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
body {
    margin:  0 auto;
}


button{
    border: inherit;
}
.tela-entrar{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.tela-entrar img:first-child {
    width: 130px;
    margin-top: 72px;
}

.tela-entrar input{
    margin-top: 94px;
    width: 261px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #AEAEAE;
}

.tela-entrar button{
    margin-top: 15px;
    width: 109px;
    height: 45px;
    background: #E7E7E7;
    border-radius: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #696969;
    }

    .loading{
        margin-top: 94px;
        width: 90px;
    }

.entrando {
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    color: #000000;
}
.conteudo-pagina {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: none;
}

.menu-topo  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 80px;
    width: 100vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.menu-topo ion-icon{
 font-size: 42px;
 margin-right: 22px;
}

.menu-topo img{
    margin-left: 22px;
}

.container-mensagens{
    
   margin: 80px 0;
   padding-top: 26px;
   background: #F3F3F3;
   width: 100%;
    height: 100%;
    word-wrap: break-word;
}

.mensagem-entrar-sair{
    width: 100%;
    padding: 10px 8px;
    align-items: center;
    display: flex;
    background: #DCDCDC;
    border-radius: 2px;
    margin-bottom: 4px;
    box-sizing: border-box;
}

.mensagem-publica{
    width: 100%;
    padding: 10px 8px;
    align-items: center;
    display: flex;
    background: #FFFFFF;
    border-radius: 2px;
    margin-bottom: 4px;
    box-sizing: border-box;
}

.mensagem-privada{
    width: 100%;
    padding: 10px 8px;
    align-items: center;    
    display: flex;
    background: #FFDEDE;
    border-radius: 2px;
    margin-bottom: 4px;  
    box-sizing: border-box;
}

.hora{
    color: #AAAAAA;
    margin-right: 4px;
}

.mensagem{
    width: 100%;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.remetente,
.destinatario{
    font-weight: 700;
}



.enviar-mensagem{
    padding: 0 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 80px;
    width: 100vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
  
}
.enviar-mensagem div{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.enviar-mensagem input::placeholder{
    font-style: italic;
}

.enviar-mensagem input{
   
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    border: none;
}

.enviar-mensagem p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: #505050;
}
.enviar-mensagem ion-icon{
    font-size: 26px;
    margin-right: 20px;
}

.tela-menu-contato{
    display: none ;
    z-index: 5;
    position: fixed;
    width: 100vw;
    height: 100%;   
    left: 0px;
    top: -1px;
    background: rgba(0, 0, 0, 0.6);
}

.menu-contato{
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 259px;
    height: 100%;
    right: 0px;
    top: 0px;
    background: #FFFFFF;
    display: none ;
    overflow-y: scroll;
}

.menu-contato .titulo{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    width: 100%;
    height: 84px;
    padding: 0 20px;
}

.contatos{
    width: 100%;
    display: flex;
    flex-direction: column;

}



.contato{
    display: flex;
    justify-content: space-between;
    padding: 0 17px;
    margin-bottom: 18px;
}

.contato div {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.contato .contato-icone{
    font-size: 20px;
    margin-right: 8px;
}


.escondido{
    display : none !important ; 
    
}

 .check {
    color: #28BB25;
    font-size: 15px;
    font-weight: bolder;
    display: flex;
}


.visibilidade{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;

}

.publico{
    display: flex;
    justify-content: space-between;
    padding: 0 17px;
    margin-bottom: 18px;
}

.publico div {
    display: flex;
}

.reservado{
    display: flex;
    justify-content: space-between;
    padding: 0 17px;
    margin-bottom: 18px;
}

.reservado div {
    display: flex;
}

.visibilidade-icone{
    font-size: 15px;
    margin-right: 8px;
}